* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main-text-color: #352691;
    --secondary-text-color: #f2ffff;
    --main-border-color: #352691;
    --main-background-color: #d0d7fd;
    --secondary-background-color: #f4c7db;
}

body {
    background-color: var(--secondary-background-color);
    margin: 50px auto;
    padding: 50px;
    border: solid 3px var(--main-border-color);
    border-radius: 10px;
    width: 50%;
}

strong, label {
    margin: 10px;
    padding: 5px;
    font-size: 1.2rem;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    border: solid 1px var(--main-border-color);
    border-radius: 5px;
}

img {
    border: solid 1px var(--main-border-color);
    margin-top: 20px;
    border-radius: 50%;
}

button, .submit {
    border: solid 1px var(--main-border-color);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 80px;
    font-size: 1.2rem;
    color: var(--secondary-text-color);
    background-color: var(--main-text-color);
}

h1 {
    margin: 10px;
    padding: 5px;
    color: var(--main-text-color);
    font-size: 3rem;
}

.inputText {
    border: solid 1px var(--main-border-color);
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}

h3 {
    margin: 10px;
    padding: 5px;
    color: var(--main-text-color);
    font-size: 2rem;
}

.goToBtn {
    width: 150px;
}